<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="JokeList; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{Joke.value}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <label>Categories</label>
    <ion-card *ngFor="let item of JokeList index as i">
      <ion-card-header>
        <ion-card-title>{{item}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>
  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>